ul.nav.navbar-nav.ml-auto {
    width: 100%;
    float: left;
    justify-content: center;
}


FF4C37  FF5D4C

0042A1  1459BA


    box-shadow: 8px 8px 30px 0 rgba(42,67,113,.15);
    -webkit-box-shadow: 8px 8px 30px 0 rgba(42,67,113,.15);
    -moz-box-shadow: 8px 8px 30px 0 rgba(42,67,113,.15);